<ion-tabs (IonTabsDidChange)="getSelected($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conversas">
      <ion-icon name="selectedTab() == 'conversas' ? 'chatbubble' : chatbubble-outline'"></ion-icon>
      Conversas
    </ion-tab-button>
    <ion-tab-button tab="configuracao">
      <ion-icon name=" selectedTab() == configuracao' ? 'settings' : 'settings-outline'"></ion-icon>
      configurações
    </ion-tab-button>
 <!--  <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      b
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      c
    </ion-tab-button>-->  
  </ion-tab-bar>
</ion-tabs>