
<ion-content [fullscreen]="true">
  
  <form [formGroup]="form">

<ion-card>

  <ion-input 

  placeholder="Email"
  type="Email"
  formControlName="Email"
  aria-errormessage="*Por favor insira um email.">

  <ion-icon name="mail-outline" slot="start"></ion-icon>
  </ion-input>

  <ion-input 

  placeholder="Senha" 
  type="Password" 
  formControlName="Password" 
  aria-errormessage="form.get('password')?.hasError('minLength')? = '*A senha precisa ter ao menos 8 caracteres' : '*Insira sua senha.'">
 
  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  </ion-input>

  <div align="right">
    <ion-button fill="clear" size="small">
      <ion-text>Esqueceu a senha?</ion-text>
    </ion-button>
  </div>

  @if(!isLogin()){
    <div>
      <ion-button size="large" expand="block">
        <ion-text>Login</ion-text>
      </ion-button>
    </div>
    
  }@else{
    <div>
      <ion-button size="large" expand="block" (click)="onSubmit()">
        <ion-spinner name="crescent"></ion-spinner>
        <ion-text>Login</ion-text>
      </ion-button>
    </div>
  }

</ion-card>
</form>

<div>
  <ion-text>Não possui uma conta ainda?</ion-text>
  <ion-button fill="clear" size="small" color="dark" routerLink="signup">
    Cadastro
  </ion-button>
</div>
 

</ion-content>
